Bootstrap: yum
OSVersion: ${distro_version}
MirrorURL: ${distro_url}
Include: yum

%post
yum --assumeyes update
yum install --quiet --assumeyes epel-release
yum install --quiet --assumeyes python3 ${mod}
yum install --quiet --assumeyes python3-pip
yum install --quiet --assumeyes bzip2 gzip tar zip unzip xz
yum install --quiet --assumeyes curl wget rsync cpio
yum install --quiet --assumeyes patch make
yum install --quiet --assumeyes file git which
yum install --quiet --assumeyes gcc-c++
yum install --quiet --assumeyes perl-Data-Dumper
yum install --quiet --assumeyes perl-Thread-Queue
yum install --quiet --assumeyes libibverbs-devel rdma-core-devel
yum install --quiet --assumeyes openssl-devel openssl
yum install --quiet --assumeyes ncurses-term tcsh findutils hostname
yum clean all

