# install EasyBuild using pip3
python3 -m pip install -U pip
python3 -m pip install wheel
python3 -m pip install -U setuptools<=59.0.0
python3 -m pip install easybuild==${eb_version}
python3 -m pip install rich

# create 'easybuild' user (if missing)
id easybuild || useradd easybuild

# create /app software installation prefix + /scratch sandbox directory
if [ ! -d /app ]; then mkdir -p /app; chown easybuild:easybuild -R /app; fi
if [ ! -d /scratch ]; then mkdir -p /scratch; chown easybuild:easybuild -R /scratch; fi
if [ ! -d /home/easybuild ]; then mkdir -p /home/easybuild; chown easybuild:easybuild -R /home/easybuild;fi

