chown easybuild:easybuild /home/easybuild/eb-install.sh
chmod a+x /home/easybuild/eb-install.sh

su -l easybuild -c /home/easybuild/eb-install.sh

# cleanup, everything in /scratch is assumed to be temporary
rm -rf /scratch/*

%runscript
eval "$@"

%environment
# make sure that 'module' and 'ml' commands are defined
${src_cmd} /etc/profile
# increase threshold time for Lmod to write cache in $HOME (which we don't want to do)
${lmod_cache}
# purge any modules that may be loaded outside container
${module_clean1}
${module_clean2}
# avoid picking up modules from outside of container
module unuse $MODULEPATH
# pick up modules installed in /app
module use /app/modules/all
